In [3]:
import mysql.connector #import mysql

mydb = mysql.connector.connect(host='localhost',user='root',passwd='0711783663Nt',database='testdb')#connect to mysql
cur = mydb.cursor() #activate cursor

#inserting data
sql ='insert into mysqlcorrect(id,name,product1,product2,product3,product4,product5,product6)values(%s,%s,%s,%s,%s,%s,%s,%s)'

val = [(8,'Biscuit','oreos','marie','romanycreams','tennis','shortbread','ginger'),
      (9,'Porridge','oats','cornflakes','weetbix','nutrific','cocopops','all bran'),
      (10,'Sweets','jellytots','jellybabies','licorice','lolipop','all sorts','sour worms')]

#execute data
cur.executemany(sql,val)

mydb.commit()

print('data is saved')

data is saved

In [3]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost',user='root',passwd='0711783663Nt',database='testdb')
cur = mydb.cursor()

cur.execute('select * from mysqlcorrect')
result =cur.fetchall()
for i in result:
    print(i)

(1, 'Chips', 'Simba', 'Lays', 'None', 'NikNak', 'flings', 'Doritos')
(2, 'Cooldrinks ', 'Coke', 'Fanta', 'None', 'Stoney', 'Twist', 'Sprite')
(3, 'Chocolates', 'Cadbury', 'Tex', 'None', 'kitkat', 'aero', 'Ps')
(4, 'Pies', 'Steak', 'Chicken', 'None', 'Mince', 'Spinach', 'Liver')
(5, 'Fruit', 'Pear', 'Apple', 'Orange ', 'banana', 'kiwi', 'grape')
(6, 'Cupcakes', 'Vanilla', 'Chocolate ', 'None', 'strawberry', 'lemon', 'cramel')
(7, 'Veggies', 'Spinich', 'Cabbage', 'None', 'Squash', 'lettuce', 'cucumber')
(8, 'Biscuit', 'oreos', 'marie', 'romanycreams', 'tennis', 'shortbread', 'ginger')
(9, 'Porridge', 'oats', 'cornflakes', 'weetbix', 'nutrific', 'cocopops', 'all bran')
(10, 'Sweets', 'jellytots', 'jellybabies', 'licorice', 'lolipop', 'all sorts', 'sour worms')

In [4]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost',user='root',passwd='0711783663Nt',database='testdb')
cur = mydb.cursor()

cur.execute('select * from mysql2')
result =cur.fetchall()
for i in result:
    print(i)

('Chips', 'Simba', 1)
('Cooldrinks ', 'Coke', 2)
('Chocolates', 'Cadbury', 3)
('Pies', 'Steak', 4)
('Fruit', 'Pear', 5)
('Cupcakes', 'Vanilla', 6)
('Veggies', 'Spinich', 7)
('Biscuit', 'oreos', 8)
('Porridge', 'oats', 9)
('Sweets', 'jellytots', 10)